@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

:root {
  --orange: #cd8c38;
  --black: #2E2E2E;
  --light-color: #D1D0D0;
  --box-shadow: 0 .5rem 1.5rem rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

body {
  background-color: grey;
  font-family: 'Joan', serif;
}

a.logo {
  display: inline-block;
  vertical-align: middle;
  padding: 0% !important;
}

a.logo img {
  height: 50px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #2E2E2E;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2000;
  box-shadow: var(--box-shadow);
}

header .navbar a {
  font-size: 1.7rem;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  text-decoration: none;
  color: var(--light-color);
}

header .navbar a.active,
header .navbar a:hover {
  color: #cd8c38;
  background: var(--black);
}

header .icons i,
header .icons a {
  cursor: pointer;
  margin-left: .5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 3rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--black);
  border-radius: 50%;
  background: var(--light-color);
}

header .icons i:hover,
header .icons a:hover {
  color: var(--light-color);
  background: var(--orange);
  transform: rotate(360deg);
}

header .icons #menu-bars {
  display: none;
}

/* For the Search input and table */
button.createUser{
  padding: 12px 20px ;
  border: 1px solid #ddd;
  margin-top: 70px;
}
button.searchUser{
  padding: 12px 20px ;
  border: 1px solid #ddd;
  margin-top: 70px;
}
button:hover {
  background-color: #45a049;
}
button:active {
  background-color: #3e8e41;
}
#myInput {
  background-image: url('https://www.w3schools.com/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-top: 5px;
  margin-bottom: 20px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th,
#myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header,
#myTable tr:hover {
  background-color: #f1f1f1;
}






#myTable2 {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable2 th,
#myTable2 td {
  text-align: left;
  padding: 12px;
}

#myTable2 tr {
  border-bottom: 1px solid #ddd;
}

#myTable2 tr.header,
#myTable2 tr:hover {
  background-color: #f1f1f1;
}

/* Responsive media queries */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1rem 2rem;
  }
}

@media (max-width:768px){
  header .icons #menu-bars{
      display: inline-block;
  }
  header .navbar{
      position: absolute;
      top: 100%; left: 0; right: 0;
      background: #2E2E2E;
      border-top: 1rem solid var(--black);
      border-bottom: 1rem solid var(--black);
      padding: 1rem;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  header .navbar a{
      display: block;
      padding: 1.5rem;
      margin: 1rem;
      font-size: 2rem;
      background: #2E2E2E;
  }
  #search-form #search-box{
      width: 90%;
      margin: 0 1rem;
  }
  .home .home-slider .slide .content h3{
    font-size: 5rem;
  }
}
@media (max-width:991px){
  html{
      font-size: 50%;
  } 
}
